{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../../static/css/buttons.css" type="text/css">
<!-- Main Content Start -->
<main class="container-fluid justify-content-md-center">
    <div>
        <h1 class="text-white">Manage Item</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 pr-5">
                <img class="card" src="{{comic.comicImage}}" alt="image not available" height="540" width="360">

                {% if comic.live == True %}
                <!--Show modal information if item is set to available-->
                <div class="pl-5 modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <article class="card">
                                    <div class="card-body">

                                        Are you sure you want to mark this item as sold?

                                    </div>
                                </article>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <input class="btn" type="button" value="Accept"
                                    onclick="window.location.href='{{url_for('comic.out_of_stock', id=comic.id)}}'" />

                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Modal">
                    Mark out of stock?
                </button>
                {% else %}
                <!--Show alternate modal if item is marked as unavailable-->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <article class="card">
                                    <div class="card-body">

                                        Are you sure you want to mark this item as available?

                                    </div>
                                </article>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                                <input class="btn" type="button" value="Accept"
                                    onclick="window.location.href='{{url_for('comic.in_stock', id=comic.id)}}'" />

                            </div>
                        </div>
                    </div>
                </div>

                <button type="button " class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Modal">
                    Mark as available?
                </button>
                {% endif %}




            </div>
            <!--Item information-->
            <div class="more-info-text col-md-6 pl-5">
                <h1 class="pb-2"><b>{{comic.comicTitle}}</b></h1>
                <h2 class=""><b>${{comic.comicPrice}}</b></h2>

                {% if length == 0 %}
                <!-- If there are no bids yet-->
                <h4 class="pt-4"><b>There are no bids on your item yet!</b></h4>
                {% endif %}
                <div class="manage-color-text">
                    {% for bid in bids %}
                    <!--Bidder information shown in a card-->
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title"><b>{{bid.buyerName}}</b> sent a bid!</h2>
                            <p><b>Email</b>: {{bid.buyerEmail}} </p>
                            <p><b>Mobile</b>: {{bid.buyerPhNo}}</p>
                            <p><b>Time of Bid</b>: {{bid.bidDateTime}}</p>
                            <p><b>Bid Amount</b>: ${{bid.bidAmount}}</p>

                            <input class="btn btn-block" type="button" value="Accept Bid"
                                onclick="window.location.href='{{url_for('comic.accept_bid', id=bid.id, amt=bid.bidAmount)}}'" />



                        </div>
                    </div>

                    {% endfor %}
                </div>



            </div>
        </div>






        <!--######################################################################################-->

        <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    </div>
</main>
{% endblock %}