<!-- Links to base html -->
{% extends "base.html" %}


{% block content %}

<div class="col-md-12 py-4">
    <div class="jumbotron bg-colour shadow mb-4 ">
        <div class="col text-center py-1">
            <div class="col text-center">
                <h1 class="display-4 font text-white">Sorry, cannot find the page</h1>
                <!--Error message shown if page not found-->
            </div>
        </div>

    </div>
</div>

<!--Style sheet to change CSS on style-->
<link rel="stylesheet" href="../../static/css/style.css" type="text/css">


{% endblock %}