<!-- Links to base html -->
{% extends "base.html" %}


{% block content %}

<div class="col-md-12 py-4">
    <div class="jumbotron bg-colour shadow mb-4 ">
        <div class="col text-center py-1">
            <div class="col text-center">
                <h1 class="display-4 font">Sorry, there was an unexpected error</h1>
                <!--Error message shown if error encountered-->
            </div>
        </div>

    </div>
</div>

<!--Style sheet to change CSS on style-->
<link rel="stylesheet" href="http://127.0.0.1:5000/static/css/style.css" type="text/css">


{% endblock %}